html, body {
    height: 100%;
    margin: 0;
}

.content-wrap {
    flex: 1 0 auto; /* This will allow the content to expand and fill the space, pushing the footer down */
}

.footer {
    flex-shrink: 0; /* This ensures the footer does not shrink */
    /* Style your footer */
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.instructions{
    width: 30%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; /* Adjusted to 'start' to align items from the top */
    height: 100vh;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 20px; /* Increase padding to space out from the top */
}

.controls {
    display: flex;
    gap: 20px; /* Space between controls */
    background-color: #121212; /* Match the body's background color */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* Optional: Adds a subtle shadow for better separation */
    z-index: 100; /* Ensures controls stay above other content */
}

.upper-controls {
    position: fixed; /* Make controls fixed at the top */
    top: 20px; /* Distance from the top of the viewport */
}

.lower-controls {
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Adjust spacing between calculate button and results table */
    margin: 10px;
}

.grid-container {
    display: grid;
    border: 2px solid #444;
    margin-top: 100px; /* Space below the fixed controls */
}

.grid-item {
    width: 50px;
    height: 50px;
    background-color: #333;
    border: 1px solid #444;
}

.toggled {
    background-color: #0077cc;
}

button {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
    padding: 5px 10px;
    cursor: pointer;
}

input[type=range] {
    cursor: pointer;
}

#calculateButton {
    margin-top: 20px;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
    padding: 5px 10px;
    cursor: pointer;
}

#resultsTable {
    margin-top: 20px;
    border-collapse: collapse;
}

#resultsTable th, #resultsTable td {
    border: 1px solid #888;
    padding: 8px;
    text-align: left;
    color: #e0e0e0;
}

#resultsTable th {
    background-color: #333;
    text-align: center;
}

#resultsTable td {
    background-color: #222;
}

#resultsTable tbody tr:hover {
    background-color: #444; /* Slightly lighter or darker to indicate hover */
    cursor: pointer; /* Change cursor to indicate clickable */
}